@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("https://cdn.awsli.com.br/1000x1000/1709/1709525/produto/170052863/97537c9868.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
